body {
          background: #f8f9fa;
      }
      .hero {
          height: 100vh;
          background: url('wagon.jpg') center/cover no-repeat;

          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
      }
      .card-img-top {
          height: 250px;
          object-fit: cover;
      }
      .lead{
          text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        margin-top: 450px
      }
  .feed{
    border-radius: 100%;
    height: 100px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;


  }
#testimonial{
    background-color: #C9CDCF;
}
.testimonial-box {
    text-align: center;
    padding: 20px;
}
